<div class="container m-5">

  <% @articles.each do |article| %>
  <div class="mb-3">
    <h4><%= link_to article.title, article_path(article) %></h4>
    <%= article.content %>
  </div>
  <% end %>


</div>
